    <.header>
        <div class="font-dn text-4xl mb-4">
           <%= @selected_transl.target.translit_title %> | <%= @chap_title %>
        </div>
       <div class="font-dn text-2xl mb-4">
        Chapter <%= @chap_no%> - <%= @selected_transl.target.title %>
        </div>

        <:subtitle>
            <%= @selected_transl.target.body %>
        </:subtitle>
    </.header>

    <.link navigate={~p"/sync/#{@source_title}/#{@chap_no}"} >
        <div class="flex items-center" >
            <div class="w-1/10">
                <Heroicons.arrow_path class="m-4 lg:w-6 lg:h-6 h-5 w-5 fill-white"/>
            </div>
            <div class="font-dn w-9/10">
            Sync media in <%= @source_title %> Chapter <%= @chap_no %>
            </div>
        </div>
    </.link>

    <.verse_display :for={{_dom_id, verse} <- @streams.verses}>
        <:item title={"#{verse.chapter_no}.#{verse.no}"}
               navigate={~p"/explore/#{@source_title}/#{@chap_no}/#{verse.no}"} >

           <p class="font-dn text-xl">
        <%= verse.body |> String.split("।।") |> List.first()  %>
            </p>
        </:item>
        <:item title={"Transliteration"}>
           <p class="font-dn text-lg">
                <%= hd(verse.translations).target.body_translit  %>
            </p>
        </:item>
        <:item title={"Transliteration Meaning"}>
           <p class="font-dn text-lg">
                <%= hd(verse.translations).target.body_translit_meant  %>
            </p>
        </:item>
    </.verse_display>

    <.back navigate={~p"/explore/#{@source_title}"}>Back to <%= @source_title %> Chapters</.back>
