<div id="chapter-index-container">
    <.header class="p-4 pb-0">
        <div class="font-dn text-4xl mb-4">
           <%= @selected_transl.target.translit_title %> | <%= @chap.title%>
        </div>
       <div class="font-dn text-2xl mb-4">
        Chapter <%= @chap.no%> - <%= @selected_transl.target.title %>
        </div>

        <:subtitle>
            <div id="chapter-preamble" class="font-dn text-sm sm:text-lg">
                <%= @selected_transl.target.body %>
            </div>
        </:subtitle>
    </.header>

    <.verse_display id={dom_id} :for={{dom_id, %Written.Verse{} = verse} <- @streams.verses}>
        <:item
            title={"#{verse.chapter_no}.#{verse.no}"}
            verse_id={verse.id}
        >
            <p class="font-dn text-lg sm:text-xl">
                <%= verse.body |> String.split("।।") |> List.first()  %>
            </p>
        </:item>
        <:item title={"Transliteration"}>
        <p :if={Enum.any?(verse.translations)} class="font-dn text-lg">
                <%= hd(verse.translations).target.body_translit  %>
            </p>
        </:item>
        <:item title={"Transliteration Meaning"}>
        <p :if={Enum.any?(verse.translations)} class="font-dn text-m">
                <%=  hd(verse.translations).target.body_translit_meant  %>
            </p>
        </:item>
        <:item title={"Translation"}>
        <p :if={Enum.any?(verse.translations)} class="font-dn text-lg">
                <%=  hd(verse.translations).target.body %>
            </p>
        </:item>
    </.verse_display>

    <.back navigate={~p"/explore/#{@source_title}"}>Back to <%= to_title_case(@source_title)%> Chapters</.back>
</div>
