    <.header>
    <%= @page_title %>
    </.header>

    <.table
    id="texts"
    rows={@streams.chapters}
    row_click={fn {_id, text} -> JS.navigate(~p"/gita/#{text}") end}
    >
    <:col :let={{_id, text}} label="Title"><%= text.name_transliterated %></:col>
    <:col :let={{_id, text}} label="Description"><%= text.name_meaning %></:col>
    </.table>
