<.header>
    <:subtitle><%= @verse.chapter_number %>:<%= @verse.verse_number %></:subtitle>
    <p class="font-dn text-2xl"><%= @verse.text |> String.split("।।") |> List.first() %></p>
</.header>
<br />
<p><%= @verse.transliteration %></p>
<br />
<p><%= @verse.word_meanings %></p>
<br />
<.button
phx-hook="ShareQuoteButton"
id="ShareQuoteButton"
data-verse={Jason.encode!(@verse)}
data-share-title={"Gita Chapter #{@verse.chapter_number} #{@verse.title}"}
>
    Share
</.button>

<.back navigate={~p"/gita/#{@verse.chapter_number}"}>
    Back to Gita Chapter <%= @verse.chapter_number %>
</.back>
<.back navigate={~p"/gita"}>Back to Gita</.back>
