<style>
 .tooltip {
  display: none;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background: cyan;
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
 }
 .container-YouTubePlayerHidden {
   display: none;
 }
 .container-YouTubePlayer {
   position: absolute;
   top: 0;
   left: 0;
 }
</style>

<div
  id="verseContainer"
>
  <.header>
      <:subtitle><%= @verse.chapter_number %>:<%= @verse.verse_number %></:subtitle>
      <p class="font-dn text-2xl"><%= @verse.text |> String.split("।।") |> List.first() %></p>
  </.header>
  <br />
  <p><%= @verse.transliteration %></p>
  <br />
  <p><%= @verse.word_meanings %></p>
  <br />
  <.button
  phx-hook="ShareQuoteButton"
  id="ShareQuoteButton"
  aria-describedby="tooltip"
  data-verse={Jason.encode!(@verse)}
  data-share-title={"Gita Chapter #{@verse.chapter_number} #{@verse.title}"}
  >
      Share
  </.button>
  <.button
  id="button-YouTubePlayer"
  >
     Toggle Player
  </.button>
  <div class="tooltip" id={"tooltip-ShareQuoteButton"}>
      It's me, tooltip content...
  </div>

  <.back navigate={~p"/gita/#{@verse.chapter_number}"}>
      Back to Gita Chapter <%= @verse.chapter_number %>
  </.back>
  <.back navigate={~p"/gita"}>Back to Gita</.back>
  <div
    class="container-YouTubePlayer container-YouTubePlayerHidden"
    phx-hook={"MiniPlayer"}
    id={"container-YouTubePlayer"}>
    <.live_component
      module={VyasaWeb.YouTubePlayer}
      id={"YouTubePlayer"}
    />
  </div>
</div>
