@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/**
 *  Root definitions that serve as overridable css variables
 *
--chili-red: #E83A21ff;
--pearl: #E3DABEff;
--black: #070302ff;
--dun: #D4CAABff;
--blood-red: #5B1208ff;
 **/
@layer base {
    :root {
        --chili-red: hsla(5, 100%, 55%, 1); /* #e83a21 */
        --pearl: hsla(39, 40%, 90%, 1); /* #e3dabe */
        --black: hsla(0, 0%, 3%, 1); /* #070302 */
        --dun: hsla(39, 20%, 80%, 1); /* #deb587 */
        --blood-red: hsla(0, 100%, 20%, 1); /* #5b1208 */

        --white-alabaster: hsla(40, 20%, 95%, 1); /* #f3efe3 */
        --linen: hsla(40, 30%, 97%, 1); /* #faf1e6 */
        --deep-saffron: hsla(30, 100%, 60%, 1); /* #ff9933 */
        --aerospace-orange: hsla(30, 100%, 50%, 1); /* #fd4f00 */
        --coral-orange: hsla(15, 100%, 60%, 1); /* #ff8349 */
        --atomic-tangerine: hsla(15, 100%, 70%, 1); /* #ff9b6d */
        --brown: hsla(15, 80%, 30%, 1); /* #922e00 */
        --sienna: hsla(10, 80%, 25%, 1); /* #7f2800 */
        --rust: hsla(0, 85%, 40%, 1); /* #ae3700 */

        --color-brand: var(--deep-saffron);
        --color-brand-light: var(--atomic-tangerine);
        --color-brand-extra-light: var(--linen);
        --color-brand-accent: var(--aerospace-orange);
        --color-brand-accent-light: var(--atomic-tangerine);

        --color-brand-dark: var(--brown);
        --color-brand-extra-dark: var(--sienna);

        --color-primary: var(--chili-red);
        --color-primary-accent: var(--chili-red);
        --color-primary-background: var(--white-alabaster);
        --color-secondary: var(--blood-red);
        --color-secondary-background: var(--dun);
        --color-text: var(--black);
    }
}

/* fonts declared from priv/assets/fonts */

@font-face {
    font-family: "Karm";
    src:
        url("/fonts/dn/Karm-Medium.woff2") format("woff2"),
        url("/fonts/dn/Karm-Medium.woff") format("woff"),
        url("/fonts/dn/Karm-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Vyas";
    src:
        url("/fonts/ta/VyasaTA.woff2") format("woff2"),
        url("/fonts/ta/VyasaTA.woff") format("woff"),
        url("/fonts/ta/VyasaTA.ttf") format("ttf");
}

@font-face {
    font-family: "Vyas";
    src:
        url("/fonts/ta/VyasaTA.woff2") format("woff2"),
        url("/fonts/ta/VyasaTA.woff") format("woff"),
        url("/fonts/ta/VyasaTA.ttf") format("ttf");
}

/* This file is for your main   application CSS */

.emphasized-verse {
    @apply bg-brandAccentLight border-b-0 border-l-8 border-black p-4 pl-8 rounded-sm;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src:
        url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix")
            format("embedded-opentype"),
        url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff")
            format("woff"),
        url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf")
            format("truetype"),
        url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src:
        url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix")
            format("embedded-opentype"),
        url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff")
            format("woff"),
        url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf")
            format("truetype"),
        url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf")
            format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src:
        url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix")
            format("embedded-opentype"),
        url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff")
            format("woff"),
        url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf")
            format("truetype"),
        url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf")
            format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
    src:
        url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix")
            format("embedded-opentype"),
        url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff")
            format("woff"),
        url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf")
            format("truetype"),
        url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* This file is for your main   application CSS */

.hoverune,
.marginote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}
textarea {
    /* Remove default outline on focus */
    outline: none;
    border: none; /* Ensure no default border */
}

textarea:focus {
    /* Change border color on focus */
    border-color: #ff6347; /* Change this to your desired focus color */
    box-shadow: 0 0 5px rgba(255, 99, 71, 0.5); /* Optional shadow effect */
}
