    <.header>
      <%= @chap_no%>
        <:subtitle> <%= @chap_body %></:subtitle>
    </.header>

    <.verse_list :for={{_dom_id, verse} <- @streams.verses}>
        <:item title={"#{verse.chapter_no}. #{verse.no}"}
               navigate={~p"/explore/#{@source_title}/#{@chap_no}/"} >
           <p class="font-dn text-xl"><%= verse.body |> String.split("।।") |> List.first()  %></p>
        </:item>
    </.verse_list>

    <.back navigate={~p"/explore/#{@source_id}"}>Back to Source</.back>
