
<.header>
    Title: <%= @title%>
</.header>


<.chapter_list :for={{_dom_id, chapter} <- @streams.chapters}>
    <%= inspect chapter %>
    <:item title={"#{chapter.no}.#{chapter.title}"}
            navigate={~p"/explore/#{@id}/#{chapter.no}"} >
        <p class="font-dn text-md"><%= chapter.body %></p>
    </:item>
</.chapter_list>

<.back navigate={~p"/explore/"}>Back to Sources</.back>
