<script>
  // Upon page load, enable dark mode if flag is set in sessionStorage
  if (sessionStorage.getItem('night_mode') == "true") {
    setDarkTheme();
  }

  function toggleTheme() {
    if (hasClass(document.body, 'night-mode')) {
      setLightTheme();
    } else {
      setDarkTheme();
    }
  }

  function setLightTheme() {
    removeClass(document.body, 'night-mode');
    sessionStorage.setItem('night_mode', "false");
    document.querySelector("#color-switcher").innerHTML = "🌙";
  }

  function setDarkTheme() {
    addClass(document.body, 'night-mode');
    sessionStorage.setItem('night_mode', "true");
    document.querySelector("#color-switcher").innerHTML = "💡";
  }

  // Source for the following three methods: https://stackoverflow.com/a/28344281
  function hasClass(ele, cls) {
    return !!ele.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'));
  }

  function addClass(ele, cls) {
    if (!hasClass(ele, cls)) ele.className += " " + cls;
  }

  function removeClass(ele, cls) {
    if (hasClass(ele, cls)) {
      var reg = new RegExp('(\\s|^)' + cls + '(\\s|$)');
      ele.className = ele.className.replace(reg, ' ');
    }
  }
</script>
